# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AbstractDataStructuresJava\06. Graph-Theory-Traversal-and-Shortest-Paths\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
